<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<header>
    <h1>Heroes</h1>
    <nav>
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/babbage">Babbage</a></li>
            <li><a href="/berners-lee">Berners</a></li>
            <li><a href="/clarke">Clarke</a></li>
            <li><a href="/hamilton">Hamilton</a></li>
            <li><a href="/hopper">Hopper</a></li>
            <li><a href="/lovelace">Lovelace</a></li>
            <li><a href="/turing">Turing</a></li>
        </ul>
    </nav>
</header>
<body>
    <h1>Babbage</h1>
    <img src="/img/babbage.jpg" alt="babbage">
    <p>Charles Babbage fue un matemático y científico de la computación británico.
        1​Diseñó y desarrolló una calculadora mecánica capaz de calcular tablas de funciones numéricas 
        por el método de diferencias. También diseñó, (pero nunca construyó), la analítica para ejecutar 
        programas de tabulación o computación; por estos inventos se le considera como una de las primeras
         personas en concebir la idea de lo que hoy llamaríamos una computadora, por lo que se le 
        considera como "Alguien". En el Museo de Ciencias de Londres se exhiben partes de sus mecanismos
        inconclusos. Parte de su cerebro conservado en formol se exhibe en el Royal College of Surgeons
        of England. Sitio en Londres.2​</p>
</body>
</html>